body {
    margin: 0;
    padding: 0;
    overflow: scroll;
}
button {
    border: none;
    background: none;
    color: #FF69B4;
    text-align: center;
    padding: 0;
}
.video-player {
    display: flex;
    width: 1100px;
    margin: 0 auto;
}
.video-player-left.theater {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 2s;
}
.play-box {
    width: 780px;
    position: relative;
    background-color: #FF69B4;
}
.play-box.small {
    position: fixed;
    right: 4px;
    bottom: 40px;
    z-index: 100;
}
#video {
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.play-action {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.progress {
    width: calc(100% - 16px);
    height: 3px;
    background-color: rgba(229, 182, 219, .5);
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8px;
}
.progress:hover {
    background-color: rgba(229, 182, 219, .9);
}
.step {
    width: 0;
    height: 3px;
    background-color: #FF69B4;
    transition: width .2s;
    position: relative;
}
#step-flag {
    position: absolute;
    top: -14px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: url(../images/playing.png) no-repeat center;
    background-size: 100% 100%;
}
.control-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    color: #fff;
    background: rgba(182, 156, 177, 0.3);
}
.control-left, .control-right {
    flex: 1;
    padding: 10px;
    line-height: 24px;
}
.full-screen:hover, .width-screen:hover, .theater-mode:hover, .speed-play-title:hover, .volume-on:hover, .volume-off:hover {
    transform: scale(1.2);
}
.video-player-right {
  width: 280px; 
  padding: 0 10px;
}
.comment-list {
    width: 100%;
    height: calc(100% - 50px);
    border: 1px solid #FF69B4;
}
.comment-action {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
}
.comment-action input {
    width: calc(100% - 70px);
    height: 28px;
    outline: none;
    border: 1px solid #FF69B4;
}
.comment-action button {
    width: 50px;
    height: 30px;
    border: 2px solid #FF69B4;
    background: #FF69B4;
    color: #fff;
}
.play, .pause, .time {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 14px;
    color: #FF69B4;
}
.play {
    background-image: url(../images/play.png);
    background-size: 24px 24px;
    cursor: pointer;
}
.pause {
    background-image: url(../images/pause.png);
    background-size: 24px 24px;
    cursor: pointer;
}
.unique-play, .unique-pause {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(182, 156, 177, 0.7);
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 60px;
    display: none;
    z-index: 101;
}
.unique-play i {
    display: block;
    border-left: 24px solid #FF69B4;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%,-50%);
}
.unique-play.small, .unique-pause.small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
}
.unique-pause i::before, .unique-pause i::after {
    content: '';
    display: block;
    width: 8px;
    height: 24px;
    background-color: #FF69B4;
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-50%,-50%);
}
.unique-pause i::before {
    margin-right: 8px;
    left: 36%;
}
.time {
    font-size: 14px;
}
.full-screen, .width-screen, .speed-play, .theater-mode, .volume-ctrl {
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: right;
    margin-left: 14px;
    cursor: pointer;
}
.speed-play {
    width: 50px;
    text-align: center;
}
.full-screen.in {
    background-image: url(../images/full-screen-in.png);
    background-size: 24px 24px;
}
.full-screen.out {
    background-image: url(../images/full-screen-out.png);
    background-size: 24px 24px;
}
.width-screen.in {
    background-image: url(../images/width-screen-in.png);
    background-size: 24px 24px;
}
.width-screen.out {
    background-image: url(../images/width-screen-out.png);
    background-size: 24px 24px;
}
.theater-mode {
    background-image: url(../images/theater-mode.png);
    background-size: 24px 24px; 
}
.speed-play, .volume-ctrl{
    position: relative;
    height: 170px;
    top: -144px;
    font-weight: bold;
}
.speed-play-title {
    width: 100%;
    height: 24px;
    border: 1px solid #FF69B4;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
}
.speed-play-menu, .volume-adjustment {
    width: 44px;
    list-style: none;
    margin: 0;
    padding: 2px;
    background-color: rgba(182, 156, 177, 0.7);
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 1000;
    border-radius: 8px;
    visibility: hidden;
}
.speed-play-menu-item {
    height: 30px;
    color: #FF69B4;
    font-size: 10px;
    line-height: 30px; 
    cursor: pointer;
}
.speed-play-menu-item:hover {
    font-size: 14px;
    color: burlywood;
}
.volume-on {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0; 
    background-image: url(../images/volume-on.png);
    background-size: 24px 24px;
}
.volume-on.muted {
    background-image: url(../images/volume-off.png);
    background-size: 24px 24px;
}
.volume-adjustment {
    width: 100%;
    height: 140px;
    top: -20px;
}
.volume-all, .volume-now {
    width: 0px;
    position: absolute;
    left: 12px;
}
.volume-all {
    height: 100px;
    border: 2px solid rgba(229, 182, 219, .5);
    top: 30px;
}
.volume-now {
    height: 50px;
    border: 2px solid rgba(255,105,180, .7);
    bottom: 10px;
    z-index: 100;
}
#volume-flag {
    position: absolute;
    top: -2px;
    left: -7px;
    width: 14px;
    height: 6px;
    border-radius: 6px;
    background-color: #FF69B4;
}
.volume-text {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #FF69B4;
    text-align: center;
    font-weight: bolder;
}


